@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.hero-image {
  background-image: linear-gradient(130deg, #2e2e2f, 
#4f4f59);
  background-color: #2e2e2f; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcfeff;
  font-family: Montserrat, sans-serif ;
  font-size: 12px;
  padding-top: 10rem;
  padding-bottom: 4rem;
}

.container {  
    font-family: Montserrat, sans-serif;
    font-size:14px;
}

.portfolio{
  padding-top: 6rem;
}
.project {
      border-color: #2e2e2f;
      border-width: 1rem;
      border-style: solid;
      padding: 1rem;
}

.nav-item a{
  color: #fcfeff;}
  
.nav-item a:hover{
  color: #FFC007;
  
  transition: transform .2s; /* Animation */
  margin: 0 auto;
    transform: scale(1.15);
}


.item {
    padding: 1rem;
    margin: 0.25rem;
}