@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
    background-color: #2e2e2f;
    color: #fcfeff;
    font-family: Montserrat, sans-serif ;
}

.black-border {
    padding: 1rem;
    margin: 0.25rem;
}