body {
    background-color: #bdc3c7;
  }
  
  
  h1 {
    color: #9b59b6;
  }
  
  h2 {
    color:orange;
  }

  p {
    background-color:yellow;
  }

  li{
    color:rgb(63, 105, 183);
  }

  input{
    border-width: 3px;
    border-color: crimson;
  }

  .hello{
    background-color: white;
  }

  #special{
    border-width: 2px;
    border-color: rgb(46, 46, 118);
    border-style: solid;
  }

  div p{
    font-size: 25px;
  }

  input[type=text]{
    background-color:gray;
  }

  div:nth-of-type(3) p{
    background-color: pink;
}

  div:nth-of-type(3) p:nth-child(2) {
    border-color: white;
    border-width: 5px;
}

  div:nth-of-type(3) em{
    color: white;
    font-size: 20px;
}

  input[type=checkbox]:checked {
    margin-left:50px;
  }

#special::first-letter{
  color:green;
  font-size:100px;
}

a:visited{
  color:gray
}

h1:hover{
  color:blue;
}

label {
  text-transform:uppercase;
}
