body {
    background-color: #bdc3c7;
  }
  
  div {
    background-color: rgba(150, 150, 150, 0.8);
  }
  
  h1 {
    color: #9b59b6;
  }
  
  h2 {
    color:orange;
  }

  li{
    color:rgb(63, 105, 183);
  }

  p {
    background-color:yellow;
  }

  input{
    border-width: 3px;
    border-color: crimson;
  }

  .hello{
    background-color: white;
  }

  #special{
    border-width: 2px;
    border-color: rgb(46, 46, 118);
    border-style: solid;
  }

  div p{
    font-size: 25px;
  }

  input[type=text]{
    background-color:gray;
  }

  div:nth-child(3) p{
    background-color: pink;
}

  div:nth-child(3) p:nth-child(2){
    border-color: white;
    border-width: 5px;
}

  div:nth-child(3) em{
    color: white;
    font-size: 20px;
}


  /* Style the HTML elements according to the following instructions. 
DO NOT ALTER THE EXISTING HTML TO DO THIS.  WRITE ONLY CSS! */





/*BONUS CHALLENGES*/
/*You may need to research some other selectors and properties*/

/*Make all "checked" checkboxes have a left margin of 50px(margin-left: 50px)*/


/* Make the <label> elements all UPPERCASE without changing the HTML(definitely look this one up*/


/*Make the first letter of the element with id 'special' green and 100px font size(font-size: 100)*/


/*Make the <h1> element's color change to blue when hovered over */


/*Make the <a> element's that have been visited gray */